<!doctype html>
<head>
<title>Last month stock changes</title>
<!-- <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}' -->
</head>
<body>
	<div>
		<h2>Last month stock changes</h2><BR>
  		<h4>Please enter a VALID stock ticker (eg. GOOG = Google, AAPL = Apple), and check desired features.</h4>
      <p>(Click <a href='https://www.quandl.com/data/WIKI'>here</a> for a full list of stock tickers)</p>
  		<form id='ticker_input' method='post' action='chart_page' >
    		<p>
    		Ticker symbol: <input type='text' name='ticker' />
      	</p>
      	<p>
    		Opening price <input type='checkbox' name='feature' value='open' />
      	</p>
      	Highest price <input type='checkbox' name='feature' value='high' />
      	</p>
      	Closing price <input type='checkbox' name='feature' value='close' />
      	</p>
      	<p>
    		<input type='submit' value='Submit' />
      	</p>
    	</form>
	</div>
</body>
</html>